.hide{
  display: none;
}
.btn{
  width:100px;
  border-radius:3px;
  box-shadow:3px 3px 3px #B0C4DE;
}  
.btn-primary{
  background-color:#1E90FF;
  color:#fff;
}
.btn-secondary{
  background-color:#fff !important;
  color:#1E90FF !important;
}  
.container{
  display:block;
  margin:auto;
}
.container input{
  width:300px; 
}  
