body{
    background-color: #000;
}
.navbar{
    height:50px;
    width:100%;
    margin:0;
    border-radius: 0;
}
.navbar-inverse .navbar-brand {
    color: #d8d8d8;
}
.navbar-inverse .navbar-nav>li>a {
    color: #D8D8D8 ;
}
.content{
    margin-top: 20px;
    height:600px;
    text-align: center;
    border: 1px solid #000;
    margin-bottom:10px;
    color:#3FAFEF;
}
.row{
    margin:50px;
}
.section2{
    margin-left: 6%;
    height:300px;
    text-align: center;
}
.front{
    color:#3FAFEF;
    box-shadow: 0.5px 0.5px 0.5px 2px #3FAFEF;
    border-radius: 3px;
}
.back{
    color:#3FAFEF;
    box-shadow: 0.5px 0.5px 0.5px 2px #3FAFEF;
    border-radius: 3px;
}
#Btn{
 width:100%;   
 border-radius: 3px;
 box-shadow: -6px 0 #9b9fa5;
}
.cover{
  background-image: url("../images/Background.png");
  width:100%;
  min-height:700px;
  background-repeat: no-repeat;
  background-size: 1440px;
}
.scrollup{
    position: absolute;
    position: fixed;
    border: 2px solid #3FAFEF;
    border-radius: 5px;
    width:41px;
    text-align: center;
    padding: 0;
    color:#3FAFEF;
    font-size:35px;
    top: 90%;
    left: 94%;
    padding-left: 3px;
}
